# Copyright (c) 2017-2020 Petr Vorel <pvorel@suse.cz>

sudo: required
language: c
services:
    - docker

matrix:
    include:
        - os: linux
          env: DISTRO=fedora:31
          compiler: gcc

        - os: linux
          env: DISTRO=fedora:32
          compiler: gcc

        - os: linux
          env: DISTRO=fedora:33
          compiler: gcc

        - os: linux
          env: DISTRO=fedora:30
          compiler: gcc

        - os: linux
          env: DISTRO=fedora:29
          compiler: gcc

        - os: linux
          env: DISTRO=fedora:28
          compiler: gcc

        - os: linux
          env: DISTRO=fedora:latest
          compiler: gcc

        - os: linux
          env: DISTRO=fedora:rawhire
          compiler: gcc


before_install:
    - df -hT
    - DIR="/usr/src/ltp"
    - printf "FROM $DISTRO\nRUN mkdir -p $DIR\nWORKDIR $DIR\nCOPY . $DIR\n" > Dockerfile
    - cat Dockerfile
    - docker build -t ltp .

script:
    - INSTALL="${DISTRO%%:*}"
    - INSTALL="${INSTALL%%/*}"
    - if [ "$MAKE_INSTALL" = 1 ]; then INSTALL_OPT="-i"; fi
    - if [ ! "$TREE" ]; then TREE="in"; fi
    - case $VARIANT in cross-compile*) BUILD="cross";; i386) BUILD="32";; *) BUILD="native";; esac

    # Tumbleweed requires newer Docker version
    - >
        if [ "${DISTRO//*\/}" = "tumbleweed" ]; then
            curl -fsSL https://download.docker.com/linux/ubuntu/gpg | sudo apt-key add -
            sudo add-apt-repository "deb [arch=amd64] https://download.docker.com/linux/ubuntu $(lsb_release -cs) stable"
            sudo apt-get update
            sudo apt-get -y -o Dpkg::Options::="--force-confnew" install docker-ce
        fi

    - docker run -t ltp /bin/sh -c "cd travis && ./$INSTALL.sh && if [ \"$VARIANT\" ]; then ARCH=\"$ARCH\" ./$INSTALL.$VARIANT.sh; fi && ../build.sh -o $TREE -t $BUILD -c $CC $INSTALL_OPT"
