# Use the same sphinx as on readthedocs.org. When updated, make sure
# sphinx-rtd-theme is compatible with sphinx.
sphinx
sphinx-rtd-theme

linuxdoc @ git+https://github.com/return42/linuxdoc@19f5e5cbe8fec100d9135cfb7d3f183fa9dc0642
sphinxcontrib-spelling==7.7.0
